*, ::after, ::before {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.top-image {
    position: absolute;
    right: 0;
}

.game-title {
    font-family: Karla, sans-serif;
    font-weight: 700;
    color: #293264;
    margin-bottom: .5rem;
}

.game-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #293264;
    margin-bottom: 1.7rem;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.game-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-button {
    width: 12rem;
    height: 3.5rem;
    background: #4D5B9E;
    border-radius: 15px;
    color: #F5F7FB ;
    border: 0;
}

.start-button:hover {
    background-color: rgb(117, 8, 41);
    color: #fff;
}