*, ::after, ::before {
    margin: 0;
    padding: 0;
}

/* MENU STYLES */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.menu-title {
    font-family: Karla, sans-serif;
    font-weight: 700;
    color: #293264;
    margin-bottom: .5rem;
}

.menu-text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: #293264;
    margin-bottom: 1.7rem;
}

.start-button {
    width: 12rem;
    height: 3.5rem;
    font-size: 16px;
    background: #4D5B9E;
    border-radius: 15px;
    color: #F5F7FB ;
    border: 0;
}

.start-button:hover {
    background-color: rgb(117, 8, 41);
    color: #fff;
}

/* QUIZ STYLES */
.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    background: #F5F7FB; 
}

.seperator {
    margin-bottom: 1rem;
    width: 24rem;
    border: 1px solid #DBDEF0;
    transform: rotate(-0.05deg);
}

.question {
    margin-bottom: .5rem;
    font-family: Karla, sans-serif;
    font-weight: 700;
    font-size: 1rem;

    color: #293264; 
}

.options {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
    color: #293264;
}

.option-text {
    background: #F5F7FB;
    border: 1px solid #4D5B9E;
    border-radius: .5rem;
    margin: 0 1rem .8rem 0;
    min-width: 4rem;
    padding: .30rem;
}

.check-button {
    width: 12rem;
    height: 3.5rem;
    background: #4D5B9E;
    border-radius: 15px;
    color: #F5F7FB ;
    border: 0;
}

.active {
    background-color: #D6DBF5;;
}